.card-items-container{
    cursor: pointer;
    flex-grow: 1;
    width: 100%;
    max-height: 100%;
}

.card-image{
    max-width: 90%;
    min-height: 60%;
    max-height: 70%;
    flex-grow: 1;
    object-fit: contain;
    height: auto;
}