html, body{
    padding: 10px 0;
    height: 100%;
    overflow: hidden;
}

.content{
    padding: 10px 0;
}


.content-container{
    height: 100%;
}

.card-container{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    padding: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}