<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="index" class="nav-link" href="/">Principal</a>
    </li>
    <li class="nav-item">
        <a id="streaming" class="nav-link" href="streaming.html">Streaming</a>
    </li>
    <li class="nav-item">
        <a  id="study" class="nav-link" href="../study/index.html">Study</a>
    </li>
    <!--<li class="nav-item">
        <a class="nav-link" href="#">Trabalho</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
</ul>